<footer>
    <img alt="Be Boulder." src="https://cdn.colorado.edu/static/brand-assets/live/images/be-boulder-white.svg">
    <p>&copy; 2024 University of Colorado Boulder | All Rights Reserved</p>
</footer>