<nav id="nav-bar">
    <!-- CU Logo -->
    <div id="logo">
        <img src="https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/cubuffs.com/images/nextgen_2023/logo_navigation.svg" alt="University of Colorado Athletics" id="logo-img">
        <img src="https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/cubuffs.com/images/nextgen_2023/logo_navigation_wordmark.svg" alt="Colorado Buffaloes" id="logo-wordmark">
    </div>
    <!-- LINKS -->
    <div id="nav-links">
        <a id="nav-link" href="/">Home</a>
        <a id="nav-link" href="/account">Account</a>
        <a id="nav-link" href="/login">Login</a>
        <a id="nav-link" href="/logout">Logout</a>
        <a id="nav-link" href="/about">About</a>
    </div>
    <!-- BIG 12 LOGO -->
    <div id="logo">
      <a href="https://big12sports.com" target="_blank" aria-label="Big Twelve Conference, opens in new tab"><img src="https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/cubuffs.com/images/nextgen_2023/logo_big12_white.svg" alt="Big Twelve" id="logo-img" style="height:41px; padding-right:3px;"></a>
      <!--<img src="https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/cubuffs.com/images/nextgen_2023/logo_big12_white.svg" alt="Big Twelve" id="logo-img" style="height:41px; padding-right:3px;">-->
    </div>
</nav>