{{#if first_name}}
  <title> {{first_name}} - CU Marketplace </title>
  <link rel="icon" type="image/x-icon" href="https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3661/cu_favicon.png">
  {{else}}
  <title> CU Marketplace </title>
  <link rel="icon" type="image/x-icon" href="https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3661/cu_favicon.png">
{{/if}}