{{#if first_name}}
  <title> {{first_name}} - CU Marketplace </title>
  <link rel="shortcut icon" href="https://pachtml-production.s3-us-west-2.amazonaws.com/www/colorado/branding/favicon.ico">
  {{else}}
  <title> CU Marketplace </title>
  <link rel="shortcut icon" href="https://pachtml-production.s3-us-west-2.amazonaws.com/www/colorado/branding/favicon.ico">
{{/if}}

<!-- Interlocking CU letters logo, keeping here in case we want to switch -->
<!--<link rel="icon" type="image/x-icon" href="https://instructure-uploads.s3.amazonaws.com/account_107720000000000001/attachments/3661/cu_favicon.png">-->