/* GLOBAL VARIABLES */
:root {
    --primary-color: #cfb87c;
    --secondary-color: #333;  
    --text-color: black;
    --background-color: white;
    --font-weight: 900;
    --border-bottom: none;
    --font-family: "Inter", sans-serif;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEFAULT LAYOUTS */
body {
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-weight: var(--font-weight);
    text-align: center;
}

/* TEXT */
p {
    color: var(--text-color);
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    margin: 10px 0;
}

/* LINKS */
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

/* BUTTONS */
.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    padding: 12px 25px;
}

.button:hover {
    background-color: var(--primary-color);
    transform: translateY(-4px);
}

/* EVENT CARDS */
.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 80%;
    max-width: 600px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* TABLES */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

.table th {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: rgba(207, 184, 124, 0.2);
}

/* Event List */
#event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#event-title {
    font-size: 24px;
    color: #2E3A87;
}

#event-details {
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

/* ADD TICKET MODAL */
.modal-content {
    border-radius: 15px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: 2px solid var(--secondary-color);
}

.modal-title {
    color: var(--primary-color);
    font-weight: 800;
    padding-bottom: 10px;
}

.modal-body {
    padding: 20px 15px;
}

.modal-footer .button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    transition: transform 0.3s, background-color 0.3s;
}

/* NAVBAR */
#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 82px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
    border-top: 4px solid #cfb87c;
    font-weight: 900;
}

/* FORM INPUT */
form .form-control {
    background-color: #f9f9f9;
    border: 2px solid var(--primary-color); 
    border-radius: 8px; 
    padding: 10px; 
    font-size: 1em; 
    color: var(--text-color); 
    transition: border-color 0.3s, box-shadow 0.3s; 
    width:max-content;
}

form .form-control:focus {
    outline: none;
    border-color: var(--secondary-color); 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
}

/* FORM LABEL */
form .form-label {
    font-size: 1em;
    font-weight: 700; 
    color: var(--secondary-color); 
    padding-right: 10px;
}

.form-row {
    display: flex;              
    align-items: center;        
    gap: 10px;                  
}

#ticketIdInput {
    flex: 1;
    padding: 10px;
    font-size: 1em;
}

/* NAVBAR IMAGES */
#logo {
    display: flex;
    align-items: center;
}

#logo-img {
    height: 36px;
    margin-right: 10px;
    margin-left: 12px;
}

#logo-wordmark {
    height: 36px;
}

/* NAVBAR LINKS */
#nav-links {
    display: flex;
    gap: 30px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

#nav-link:hover {
    color: #cfb87c;
}

/* FOOTER */
footer {
    background-color: black; 
    color: #fff;
    text-align: center;
    padding: 10px 0; 
}

footer img {
    padding: 10px;
    height: 50px;
}

footer p {
    margin: 0;
    color: white;
    font-size: 0.9em;
}

/* Utility Classes */
.row {
    display: flex;
    justify-content: center;
}

.col {
    padding: 15px;
    text-align: center;
}

#homepage {
    position: relative;
    overflow: hidden;
    --text-color: white;
}

#homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.sidearmdev.com/resize?url=https%3A%2F%2Fdxbhsrqyrr690.cloudfront.net%2Fsidearm.nextgen.sites%2Fcubuffs.com%2Fimages%2F2024%2F10%2F23%2FFB_2024_08_29_NDSU_ATS-263.jpg&height=1100&type=webp");
    background-size: cover;
    background-position: center;
    filter: contrast(75%);
    z-index: -1;
}

#homepage #container {
    /*background-image: url("https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/cubuffs.com/images/nextgen_2023/aotw_bg.png");*/
    background: rgba(0, 0, 0, 0.9);
    max-width: 800px;
    padding: 40px;
    border: 4px solid #cfb87c;
    border-radius: 15px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.4);
    margin: 40px auto;
    text-align: center;
    /*background-clip: padding-box;*/
    overflow: hidden;
}

#homepage #container h1 {
    font-size: 3rem;
    font-weight: var(--font-weight);
    color: var(--primary-color);
    margin-bottom: 20px;

}

#homepage #container p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #f0f0f0;
    margin-bottom: 30px;
}

#homepage .button {
    background-color: var(--primary-color);
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: transform 0.3s, background-color 0.3s;
}

#accountpage #container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#accountpage #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#accountpage #header h1 {
    font-size: 2rem;
    font-weight: var(--font-weight);
    color: var(--secondary-color);
}

#accountpage h3 {
    color: var(--secondary-color);
}

#accountpage .button {
    padding-top: 10px;
}

#aboutpage #container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 7%;
}

#aboutpage .features {
    list-style-position: inside;
    padding-bottom: 10px;
    padding-left: 35%;
    text-align: left;
}

#aboutpage .team-members {
    list-style: none;
    text-align: left;
    padding-left: 20%;
}

#loginpage #container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#loginpage #container h1 {
    font-size: 2rem;
    font-weight: var(--font-weight);
    color: var(--secondary-color);
    padding-bottom: 10px;
}

#aboutpage #container p {
    margin-left: 10%;
    margin-right: 10%;
}

#loginpage .form-label {
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: left; 
}


#loginpage .form-control {
    background-color: #f9f9f9;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-size: 1em;
    color: var(--text-color);
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

#loginpage #container p {
    font-size: 0.9em;
    color: var(--text-color);
    margin-top: 15px;
}

#loginpage .button {
    margin-top: 15px;
}

#logoutpage #container{
    display: flex;
    flex-direction: column;
}

#buypage h1 {
    padding-bottom: 10px;
    font-size:30px;
    color: var(--secondary-color)
}

#buypage h2 {
    font-weight: 400;
    text-align: left;
    padding-bottom: 15px;
}

#buypage h3 {
    font-weight: 600;
    text-align: center;
    color: #333;
    font-size:medium;
    padding: 2px;
}

#buypage h4 {
    font-weight: 500;
    color: rgb(62, 59, 59);
    padding-bottom: 5px;
    text-align: left;
    font-size: 14px;
}

#buypage #sell-link {
    text-align: center; 
    color:#cfb87c; 
    font-weight:600;
    cursor: pointer;
    text-decoration: none;
}

#buypage #container {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#buypage #outer-buy-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 40px;
}

#buypage #buy-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    /*box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);*/
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 1px;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#buypage #middle-buy-container {
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-color: #cfb87c;
    border-bottom-width: 1px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#buypage #inner-buy-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#buypage #info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: max-content;
    margin-left: 20px;
    margin-right: 20px;
}

#buypage #logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
}

#buypage #info-container img {
    width: 20%;
    margin: 10px;
    flex-grow: 1;
}

#buypage #bidbutton {
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    background-color: white;
    color: #333;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    transition: transform 0.3s, background-color 0.3s;
}

#buypage #confbutton {
    border-radius: 25px;
    border-style: none;
    color: white;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    text-decoration: none;
    background-color: #cfb87c;
    flex-grow: 1;
}