<body id="aboutpage">
  <div id="container">
    <h1>About Buff Market</h1>

    <p>Buff Market is a marketplace for students to buy or sell student tickets at market value. Students register with their CU identikey to ensure authenticity. Buyers and sellers can view listings, connect through the marketplace, and use a secure checkout process.</p>

    <h2>Key Features</h2>
    <div class="features-container">
      <div class="feature-card">
        <h1>&#128273;</h1>
        <h6>Student Identification Login</h6>
      </div>
      <div class="feature-card">
        <h1>&#128221;</h1>
        <h6>Sell, Buy, and Bid on Tickets</h6>
      </div>
      <div class="feature-card">
        <h1>&#128260;</h1>
        <h6>Buyer-Seller Communication</h6>
      </div>
      <div class="feature-card">
        <h1>&#128200;</h1>
        <h6>Market Price Orderbook</h6>
      </div>
    </div>

    <h2>Team Members</h2>
    <div id="group-icons-container">
      <div id="group-member-container">
        <a href="https://github.com/amhamdi416"><img src="https://avatars.githubusercontent.com/u/137654325?v=4" alt="Amir's Github"></a>
        <p>Amir Mhamdi</p>
      </div>
      <div id="group-member-container">
        <a href="https://github.com/andrewperper"><img src="https://avatars.githubusercontent.com/u/111903208?v=4" alt="Andrew's Github"></a>
        <p>Andrew Perper</p>
      </div>
      <div id="group-member-container">
        <a href="https://github.com/dahi2387"><img src="https://avatars.githubusercontent.com/u/3836946?v=4" alt="Daniel's Github"></a>
        <p>Daniel Hill</p>
      </div>
      <div id="group-member-container">
        <a href="https://github.com/kyannel"><img src="https://avatars.githubusercontent.com/u/157054075?v=4" alt="Kyan's Github"></a>
        <p>Kyan Nelson</p>
      </div>
      <div id="group-member-container">
        <a href="https://github.com/maijagrimes"><img src="https://avatars.githubusercontent.com/u/112366457?v=4" alt="Maija's Github"></a>
        <p>Maija Grimes</p>
      </div>

      <!--<ul class="team-members">
        <li>Amir Mhamdi - Email: <a href="mailto:ammh1801@colorado.edu">ammh1801@colorado.edu</a>, GitHub: amhamdi416</li>
        <li>Andrew Perper - Email: <a href="mailto:anpe8060@colorado.edu">anpe8060@colorado.edu</a>, GitHub: andrewperper</li>
        <li>Daniel Hill - Email: <a href="mailto:dahi2387@colorado.edu">dahi2387@colorado.edu</a>, GitHub: dahi2387</li>
        <li>Kyan Nelson - Email: <a href="mailto:kyne9841@colorado.edu">kyne9841@colorado.edu</a>, GitHub: kyannel</li>
        <li>Maija Grimes - Email: <a href="mailto:magr2409@colorado.edu">magr2409@colorado.edu</a>, GitHub: maijagrimes</li>
      </ul>-->
    </div>

    <p class="footer">Visit our <a href="https://github.com/dahi2387/cu-marketplace" target="_blank">GitHub Repository</a> for more details on the project.</p>
  </div>
</body>