<div class="mb-3" style="margin-left: 50px; margin-right: 50px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Event Name</th>
                <th scope="col">For Sale?</th>
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
                <tr>
                    <td>filler 1</td>
                    <td>filler 2</td>
                    <td>filler 3</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>