<div class="mb-3">
    <h1>Buy</h1>
</div>
<div class="row" id="buy">
    <div class="col-6" height="400px">
        <p>Game Info:</p>
    </div>
    <div class="col-6" height="400px">
        <div>
            <p>Buy Now for MarketPrice</p>
        </div>
        <div>
            <p>Final Sale: $</p>
        </div>  
        <div>
            <p>Latest Bid: $</p>
        </div>
        <div class="col-9">
            <button type="submit" class="btn btn-primary" href="/confirmation">Buy Now</button>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" href="/bid">Place Bid</button>
        </div>
    </div>
</div>