<div class="mb-3">
    <h1 style="margin-left:20px">Buy</h1>
</div>
<div class="row" id="buy">
    <div class="col-6" height="400px">
        <p style="margin-left:30px;font-size:35px">Game Info:</p>
    </div>
    <div class="col-6" height="400px">
        <div>
            <p style="font-size:45px">Buy Now for MarketPrice</p>
        </div>
        <div>
            <p style="font-size:35px">Final Sale: $</p>
        </div>  
        <div>
            <p style="font-size:35px">Latest Bid: $</p>
        </div>
        <div class="col-9">
            <button type="submit" class="btn btn-primary" href="/confirmation">Buy Now</button>
            <button type="submit" class="btn btn-primary" href="/bid">Place Bid</button>
        </div>
    </div>
</div>