<div class="container">
    <h1>Events</h1>
    <div id="event-list">
        <!-- Sample event card -->
        <div id="event-card">
            <h2 id="event-title">CU vs. UCLA Football Game</h2>
            <p id="event-details">Date: October 28, 2024<br>Location: Folsom Field</p>
            <a href="/buy" class="button">Purchase Tickets</a>
            <a href="/sell" class="button">Sell Tickets</a>
        </div>
        <!-- Additional events can be added similarly -->
    </div>
</div>