<!--<div class="container">
    <h1>Events</h1>
    <div id="event-list">
        <div class="card">
            <h2 id="event-title">CU vs. UCLA Football Game</h2>
            <p id="event-details">Date: October 28, 2024<br>Location: Folsom Field</p>
            <a href="/buy" class="button">Purchase Tickets</a>
            <a href="/sell" class="button">Sell Tickets</a>
        </div>
    </div>
</div>-->

<body id="eventspage">
    <div id="container">
        <h1>Events</h1>
        <div id="event-list-container">
            <div class="card">
                <div id="info-container">
                    <div id="logo-container">
                        <img src="https://images.sidearmdev.com/convert?url=https%3a%2f%2fdxbhsrqyrr690.cloudfront.net%2fsidearm.nextgen.sites%2fcubuffs.com%2fimages%2f2005%2f5%2f10%2fVVRJXKQHRTSBFZO.20050510210626.jpg&type=webp" alt="University of Colorado Atheletics">
                        <img src="https://conferences.ucla.edu/wp-content/uploads/2021/01/logo6.png" alt="UCLA Athletics">
                    </div>
                <h2>Colorado vs. UCLA</h2>
                <h3>Date: October 28, 2024</h3>
                <h3>Location: Folsom Field</h3>
                </div>
                <div id="button-container">
                    <a href="/buy" class="button">Purchase Tickets</a>
                    <a href="/sell" class="button">Sell Tickets</a>
                </div>
            </div>
            <div class="card">
                <div id="info-container">
                    <div id="logo-container">
                        <img src="https://images.sidearmdev.com/convert?url=https%3a%2f%2fdxbhsrqyrr690.cloudfront.net%2fsidearm.nextgen.sites%2fcubuffs.com%2fimages%2f2005%2f5%2f10%2fVVRJXKQHRTSBFZO.20050510210626.jpg&type=webp" alt="University of Colorado Atheletics">
                        <img src="https://images.sidearmdev.com/crop?url=https%3A%2F%2Fdxbhsrqyrr690.cloudfront.net%2Fsidearm.nextgen.sites%2Fcubuffs.com%2Fimages%2Flogos%2FUtahUtesLogo.png&width=200&height=200&type=webp" alt="Utah Athletics" style="width: 8px;">
                    </div>
                    <h2>Colorado vs. Utah</h2>
                    <h3>Date: November 25, 2024</h3>
                    <h3>Location: Folsom Field</h3>

                </div>
                <div id="button-container">
                    <a href="/buy" class="button">Purchase Tickets</a>
                    <a href="/sell" class="button">Sell Tickets</a>
                </div>
            </div>
        </div>
    </div>
</body>