{{!<link rel="stylesheet" href="../../resources/css/eventsstyle.css">}}
{{!<link rel="stylesheet" href="../../resources/css/homestyle.css">}}

<div class="container">
    <h1>Events</h1>
    <div class="event-list">
        <!-- Sample event card -->
        <div class="event-card">
            <h2 class="event-title">CU vs. UCLA Football Game</h2>
            <p class="event-details">Date: October 28, 2024<br>Location: Folsom Field</p>
            <a href="/buy" class="button">Purchase Tickets</a>
            <a href="/sell" class="button">Sell Tickets</a>
        </div>
        <!-- Additional events can be added similarly -->
    </div>
</div>