<div id="container">
    <h1>Buff Market</h1>
    <p>Welcome to Buff Market - The CU Student Marketplace! A safe and easy way for students to buy and sell student tickets at a fair market price.</p>
    <a href="/events" class="button btn btn-warning">View Events</a> <!-- Bootstrap button class added -->
</div>