<form action="/register" method="POST" style="margin-left: 400px; margin-right: 400px; margin-top: 30px;">
    <div class="mb-3">
        <h1>Register</h1>
    </div>
    <div class="mb-3">
        <label for="usernameInput" class="form-label">Student Email</label>
        <input id="usernameInput" name="email" class="form-control">
    </div>
    <div class="mb-3">
        <label for="passInput" class="form-label">Password</label>
        <input type="password" id="passInput" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <div class="mb-3" style="margin-top: 15px;">
        <p class="form-label">Already have an account? <a href="/login">Login</a></p>
    </div>
</form>