<!--<div class="mb-3">
    <h1 style="margin-left:30px;font-size:60px">Sell</h1>
</div>
<div class="row">
    <div class="col-6" height="400px">
        <p style="margin-left:30px;font-size:45px">Game Info:</p>
        <div>
            <p style="margin-left:35px;font-size:30px"> CU vs UCLA</p>
        </div>
        <div>
            <p style="margin-left:35px;font-size:20px"> October 28, 2024</p>
        </div>
        <div>
            <p style="margin-left:35px;font-size:20px"> Location: Folsom Field</p>
        </div>
    </div>
    <div class="col-6" height="400px">
        <div>
            <p style="font-size:45px">Sell Now for Marketprice</p>
        </div>
        <div>
            <p style="margin-left:10px;font-size:30px">Final Sale: $80</p>
        </div>  
        <div>
            <p style="margin-left:10px;font-size:30px">Latest Bid: $65</p>
        </div>
        <div class="col-9" style="margin-left:10px;">
            <button type="submit" class="btn btn-primary" href="/confirmation">Sell Now</button>
            <button type="submit" class="btn btn-primary" href="/bid">Place Ask</button>
        </div>
    </div>
</div>-->

<body id="buypage">
    <h1>Sell</h1>
    <div id="container">
        <!-- GAME INFO -->
        <div id="info-container">
            <div id="logo-container">
                <img src="https://images.sidearmdev.com/convert?url=https%3a%2f%2fdxbhsrqyrr690.cloudfront.net%2fsidearm.nextgen.sites%2fcubuffs.com%2fimages%2f2005%2f5%2f10%2fVVRJXKQHRTSBFZO.20050510210626.jpg&type=webp" alt="University of Colorado Atheletics">
                <img src="https://conferences.ucla.edu/wp-content/uploads/2021/01/logo6.png" alt="UCLA Athletics">
            </div>
            <h1>Colorado vs. UCLA</h1>
            <h3>Date: October 28, 2024</h3>
            <h3>Location: Folsom Field</h3>
        </div>
        <!-- SELL INFO -->
        <div id="outer-buy-container">
            <div id="buy-container">
                <h4>Sell Now for</h4>
                <h2>$65</h2>
                <div id="middle-buy-container">
                    <div id="inner-buy-container">
                        <a href="/bid" class="button" id="bidbutton">Place Ask</a>
                        <a href="/confirmation" class="button" id="confbutton">Sell Now</a>
                    </div>
                    <h4>Lowest Ask: $60</h4>
                </div>
                <h4>Last Sale: $80</h4>
            </div>
            <a href="/buy" id="sell-link">&leftarrow; Buy now for $65 or Bid For Less</a>
            
        </div>
    </div>
</body>